{% extends "base.html" %}

{% block css %}
    {{block.super}}
    <link rel='stylesheet' type='text/css' href='{{STATIC_URL}}css/game.css' />
{% endblock %}

{% block content %}

<ul class='team team1'>
    {% for gp in game.team1 %}
        <li>
            <a title='{{gp.player.name}} ({{gp.champion.name}})' href="{{gp.player.href}}">
                <img width='80' src='{{gp.champion.portrait_url}}' />
            </a>
        </li>
    {% endfor %}
</ul>
<div class='vs'>vs</div>
<ul class='team team2'>
    {% for gp in game.team2 %}
        <li>
            <a title='{{gp.player.name}} ({{gp.champion.name}})' href="{{gp.player.href}}">
                <img width='80' src='{{gp.champion.portrait_url}}' />
            </a>
        </li>
    {% endfor %}
</ul>
<div class='main-block'>
    <p>Uploaded by: {{game.uploader}}</p>
    <p>Winner: Team {{game.winning_team}}</p>
    <p>Region: {{game.region|upper}}</p>
    <p>Played on: {{game.timestamp}}</p>
    <p>Match Length: {{game.match_length}} seconds</p>
</div>
{% endblock %}
