{% extends "base.html" %}

{% block css %}
    {{block.super}}
    <link rel='stylesheet' type='text/css' href='{{STATIC_URL}}css/summoner.css' />
{% endblock %}

{% block js %}
    {{block.super}}
    <script>
    $(document).ready(function(){
        $('a.follow_toggle').click(function(){
            $.ajax({
                url: 'follow_toggle/'
            }).done(function(data){
                if(data == 'success') {
                    $('a.follow_toggle').toggleClass('followed');
                }
            });
        });
    });
    </script>
{% endblock %}

{% block content %}
<div class='summoner'>
    <div class='summoner-info'>
        <img
            title='Most Played Champion: {{summoner.favorite_champion.name}}'
            src='{{summoner.favorite_champion.portrait_url}}'
        />
        {% if user.is_authenticated %}
        <br />
        <a
            class='follow_toggle{% if summoner.followed %} followed{% endif %}'
            href='javascript:void(0);'>
            Follow
        </a>
        {% endif %}
        <hr />
        <div class='summoner-stats'>
            <ul>
                <li>{{summoner.name}}</li>
                <li>Region: {{summoner.region|upper}}</li>
                <li>Level: {{summoner.level}}</li>
                <li>Wins: {{summoner.wins}}</li>
                <li>Losses: {{summoner.losses}}</li>
                <li>Leaves: {{summoner.leaves}}</li>
            </ul>
        </div>
    </div>
    <div class='summoner-feed'>
        <ul>
        {% for item in feed %}
            <li>
                <a href='{{summoner.href}}'>{{summoner.name}}</a>
                played as {{item.game_player.champion.name}}
                <a href='{{item.game.href}}'>in a game</a>
                uploaded by {{item.game.uploader}}
                on {{item.game.upload_timestamp}}
            </li>
        {% endfor %}
        </ul>
    <div>
</div>

{% endblock %}
